<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../css/article.css" />
        <title>{{title}}</title>
    </head>

    <body>
        <div class="content">
            <header>
            </header>
			
			<h1>{{title}}</h1>
			
            <section>
                <article>
                    <img src="{{imgLink}}" alt="" />
                    <p>{{content}}</p>
                </article>
            </section>
            
            <footer>
            </footer>
        </div>
    </body>
</html>