<!DOCTYPE html>
<html>
<head>
	<title>Header/Footer management</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/custom.css" rel="stylesheet" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
	<div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="admin.php">Binary admin</a> 
            </div>
			<div style="color: white;
			padding: 15px 50px 5px 50px;
			float: right;
			font-size: 16px;">
				<a href="logout.php" class="btn btn-danger square-btn-adjust">Logout</a>
			</div>
        </nav>
		
		{{navigation}}
		
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Pages management</h2>                        
                    </div>
                </div>
				<hr>
				<div class="col-md-12">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="active"><a href="#header" data-toggle="tab">Pages list <i class="fa"></i></a></li>
						<li><a href="#footer" data-toggle="tab">Add page <i class="fa"></i></a></li>
					</ul>	

							<div class="tab-content">
								<div class="tab-pane active" id="header">
									<div class="form-group">
									<br>
										<table class="table table-hover">
											<tr style="font-weight : bold;">
												<td>ID</td>
												<td>Title</td>
												<td>Content</td>
												<td>Image</td>
												<td>Created</td>
											</tr>
												{{pages}}
										</table>
									</div>
								</div>
								
								<div class="tab-pane" id="footer">
									<div class="form-group">
									<br>	
									<div class="col-md-5">
										
											<div class="form-group">
												<label>Select Template</label>
												<select id="selectTpl" class="form-control">
													<option id="1">Article</option>
													<option id="2">List</option>
													<option id="3">Link</option>
												</select>
											</div>
											
											<div id="form1">
												<form role="form" enctype="multipart/form-data" data-toggle="validator" action="PagesManageUtils.php" method="POST">
													<div class="form-group">
														<input required type="text" pattern="^([_A-z0-9]){3,30}$" class="form-control" name="title" placeholder="Title" />
													</div>
													<div class="form-group">
														<label>File input</label>
														<input type="file" name="imgLink">													
													</div>
													<div class="form-group">
														<textarea name="content" class="form-control" rows="3" placeholder="Content"></textarea>
													</div>	
													<input type="hidden" value="createPage" name="mode">
													<input type="hidden" value="1" name="template">
													<div class="form-group" style="margin-top: 15px;">
														<div class="col-xs-1">
															<button type="submit" class="btn btn-default">Validate</button>
														</div>
													</div>
												</form>
											</div>
											
											<div id="form2">
												<form role="form" data-toggle="validator" action="PagesManageUtils.php" method="POST">
													<div class="form-group">
														<input required type="text" pattern="^([_A-z0-9]){3,30}$" class="form-control" name="title" placeholder="Title" />
													</div>
													<input type="hidden" value="createPage" name="mode">
													<input type="hidden" value="2" name="template">
													<div class="form-group" style="margin-top: 15px;">
														<div class="col-xs-1">
															<button type="submit" class="btn btn-default">Validate</button>
														</div>
													</div>
												</form>
											</div>
											
											<div id="form3">
												<form role="form" data-toggle="validator" action="PagesManageUtils.php" method="POST">
													<div class="form-group">
														<input required type="text" pattern="^([_A-z0-9]){3,30}$" class="form-control" name="title" placeholder="Title" />
													</div>
													<div class="form-group">
														<input required type="text" pattern="((http:\/\/|https:\/\/)?(www.)?(([a-zA-Z0-9-]){2,}\.){1,4}([a-zA-Z]){2,6}(\/([a-zA-Z-_\/\.0-9#:?=&;,]*)?)?)" class="form-control" name="link" placeholder="Link (http://www.exemple.com)" />
													</div>
													<input type="hidden" value="createPage" name="mode">
													<input type="hidden" value="3" name="template">
													<div class="form-group" style="margin-top: 15px;">
														<div class="col-xs-1">
															<button type="submit" class="btn btn-default">Validate</button>
														</div>
													</div>
												</form>
											</div>
											
										</div>
									</div>
								</div>
							</div>		
                </div>				
            </div>
        </div>
	</div>
	<script>
	$( document ).ready(function() {
		$('#form2, #form3').hide();
	});
	 
	$('#selectTpl').change(function() {
	   $('#form1, #form2, #form3').hide();
	   $('#form' + $(this).find('option:selected').attr('id')).show();
	});
	</script>
</body>
</html>
