<!DOCTYPE html>
<html>
<head>
	<title>Header/Footer management</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/custom.css" rel="stylesheet" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
	<div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="admin.php">Binary admin</a> 
            </div>
			<div style="color: white;
			padding: 15px 50px 5px 50px;
			float: right;
			font-size: 16px;">
				<a href="logout.php" class="btn btn-danger square-btn-adjust">Logout</a>
			</div>
        </nav>
		
		{{navigation}}
		
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Pages management</h2>                        
                    </div>
                </div>
				<hr>
				<div class="col-md-12">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="active"><a href="#header" data-toggle="tab">Pages list <i class="fa"></i></a></li>
						<li><a href="#footer" data-toggle="tab">Add page <i class="fa"></i></a></li>
					</ul>	

						<form id="hfForm" method="post" action="IOFiles.php" class="form-horizontal">
							<div class="tab-content">
								<div class="tab-pane active" id="header">
									<div class="form-group">
									<br>
										<table class="table table-hover">
											<tr style="font-weight : bold;">
												<td>ID</td>
												<td>Username</td>
												<td>Password</td>
												<td>Edit</td>
												<td>Delete</td>
											</tr>
												{{users}}
										</table>	

										<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
													<h4 class="modal-title" id="myModalLabel">Edit user</h4>
													</div>
													<div class="modal-body">
															<div class="form-group input-group">
																<span class="input-group-addon"><i class="fa fa-key"></i></span>
																<input type="password" class="form-control" name="newPassword" value="" placeholder="New Password">		
															</div>
													</div>
													<div class="modal-footer">
														<button id="saveButton" type="button" class="btn btn-primary">Save changes</button>
														<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>					
												</div>
											</div>
										  </div>
										</div>	
										
										<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
													<h4 class="modal-title" id="myModalLabel">Delete user</h4>
													</div>
													<div class="modal-body">
													<p>Delete user ?</p>
													</div>
													<div class="modal-footer">
														<button id="saveButton" type="button" class="btn btn-primary">Yes</button>
														<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>					
													</div>
												</div>
											</div>
										</div>	
									</div>
								</div>

								<div class="tab-pane" id="footer">
									<div class="form-group">
									<br>	
									<div class="col-md-5">
										<form role="form" data-toggle="validator" action="#" method="POST">
											<div class="form-group">
												<input required type="text" pattern="^([_A-z0-9]){3,}$" class="form-control" name="title" placeholder="Title" />
											</div>
											<div class="form-group">
												<label>File input</label>
												<input type="file">													
											</div>
											<div class="form-group">
												<textarea class="form-control" rows="3" placeholder="Content"></textarea>
											</div>											
											<input class="btn btn-default" name="valid" type="submit" value="Validate">
										</form>
									</div>
									</div>
								</div>
							</div>
						</form>			
                </div>				
            </div>
        </div>
	</div>

</body>
</html>
